body {
  margin: 0;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Header */

header {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
}

.header_content {
  width: 60vw;
  height: 100px;
  padding: 0 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand_logo_detail {
  width: 160px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 40px;
  transform: rotate(2deg);
}

.brand_logo {
  padding: 4px 16px 4px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand_logo h1 {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #212121;
  text-transform: uppercase;
  margin: 0;
}

.brand_logo p {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #212121;
  text-transform: uppercase;
  margin-top: -10px;
}

/* Navigation bar */

nav {
  display: flex;
  padding: 0 16px 0 16px;
  background-color: white;
  align-items: center;
}

nav a, a:link, a:visited {
  text-decoration: none;
}

.nav_link {
  height: 100px;
  margin: 0 8px 0 8px;
  display: flex;
  align-items: center;
}

.nav_link h1 {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #212121;
  padding: 4px 16px 4px 16px;
}

.nav_link:hover h1 {
  opacity: 0.8;
}

.nav_links:hover .nav_dropdown {
  display: flex;
  flex-direction: column;
}

#active {
  background-color: #999;
  border-radius: 2px;
  color: white;
}

.nav_dropdown {
  position: absolute;
  top: 100px;
  background-color: #090909;
  display: none;
}

.nav_dropdown_link h1 {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
  padding: 4px 16px 4px 16px;
  margin: 8px;
}

.nav_dropdown_link:hover h1 {
  opacity: 0.8;
}

.nav_dropdown_arrow {
  position: absolute;
  top: -20px;
  left: 16px;
  border-bottom: 10px solid #090909;
  border-left: 10px solid transparent;
  border-right:  10px solid transparent;
  border-top: 10px solid transparent;
}
/* TOP */

.top {
  margin-top: 100px;
  width: 100vw;
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.top_content {
  width: 70vw;
  height: 500px;
  display: flex;
  align-items: center;
}

.top h1 {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  color: white;
  max-width: 600px;
  text-transform: uppercase;
}

#home_top {
  background-image: url("../img/home_top.png");
}

#adam_top {
  background-image: url("../img/adam_top.jpg");
}

#portfolio_top {
  background-image: url("../img/portfolio_top.jpg");
}

#kontakt_top {
  background-image: url("../img/kontakt_top.jpg");
}

/* CONTENT */

.content_title {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_title h1 {
  padding: 32px 0 32px 0;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: #999;
}

.content_title hr {
  width: 400px;
  height: 1px;
  border: none;
  background-color: #999;
  margin: 16px;
}

.content_block {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content_block p {
  max-width: 50vw;
  font-size: 20px;
  font-family: 'Cardo', serif;
  margin: 0;
  padding: 32px 0 64px 0;
}

.content_images {
  width: 100vw;
  display: flex;
}

.content_image {
  width: 50vw;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.content_image_text {
  width: 50vw;
  height: 500px;
  background-color: #fff0df;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_image_text h1 {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #999;
}

.content_image_text hr {
  width: 400px;
  border: none;
  height: 1px;
  background-color: #999;
  margin-bottom: 32px;
}

.content_image_text p {
  max-width: 30vw;
  text-align: center;
}

.content_image_text_button {
  border: 2px solid #212121;
  transition: 0.2s ease;
}

.content_image_text_button:hover {
  background-color: #212121;
}

.content_image_text_button:hover h1 {
  color: white;
}

.content_image_text_button h1 {
  color: #212121;
  font-size: 12px;
  padding: 4px 32px 4px 32px;
}

.content_collection {
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0 32px 0;
}

.content_collection .content_collection_block {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 32px;
}

.content_collection_block p {
  margin-top: 16px;
}

.content_collection_block a {
  color: #212121;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  border-bottom: 2px solid #212121;
}

.content_collection_image {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
}

/* Kontakt */

.contacts {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts_content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  width: 60px;
  height: 60px;
  background-size: cover;
  margin: 8px;
}

.contact_content {
  display: flex;
  align-items: center;
}

.contact_content h3 {
  margin: 4px;
}

.contact_first_text {
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.contact_second_text {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

#contact_mail {
  background-image: url("../img/contact_mail.png");
}

#contact_twitter {
  background-image: url("../img/contact_twitter.png");
}

/* images */

#adam_glad {
  background-image: url("../img/adam_glad.jpg");
}

#adam_cool {
  background-image: url("../img/adam_cool.jpg");
  background-position: top;
}

#adam_usa {
  background-image: url("../img/adam_usa.jpg");
}

#job_vino {
  background-image: url("../img/vino.jpg");
}

#job_team {
  background-image: url("../img/team.jpg");
}

#job_poseidon {
  background-image: url("../img/poseidon.jpg");
}

#adam_webb {
  background-image: url("../img/webb.png");
}

#pro_adam {
  background-image: url("../img/pro_adam.png");
}

#clyster {
  background-image: url("../img/clyster.png");
}

#buycraft {
  background-image: url("../img/buycraft.png");
}

#ohlfam {
  background-image: url("../img/ohlfam.png");
}

#pro_site {
  background-image: url("../img/pro_site.png");
}

#cap_store {
  background-image: url("../img/cap_store.png");
}

/* FOOTER */

footer {
  width: 100vw;
  height: 400px;
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

footer a, footer a:link, footer a:visited {
  text-decoration: none;
}

.footer_content {
  width: 60vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer_logo h1, #footer_logo p {
  color: white;
}

.footer_links {
  display: flex;
  align-items: center;
}

.footer_link {
  margin: 8px;
}

.footer_link:hover h1 {
  opacity: 0.8;
}

.footer_link h1 {
  color: white;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

footer hr {
  width: 700px;
  border: none;
  height: 1px;
  background-color: white;
}

footer p {
  color: white;
  font-size: 12px;
  font-family: sans-serif;
}

.social_media {
  display: flex;
  margin-top: 32px;
}

.social_media img {
  width: 50px;
  height: 50px;
  margin: 16px;
}

/* GENERAL */

.mobile_nav {
  display: none !important;
}

/* Modern Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {
  .content_collection_image {
    width: 300px;
    height: 300px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .header_content {
    width: 100vw;
  }
  .content_collection_image {
    width: 250px;
    height: 250px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  /* NAVIGATION */
  nav {
    display: none !important;
  }
  .mobile_nav {
    display: flex !important;
    flex-direction: column;
  }
  .mobile_nav {
    display: none;
  }
  .mobile_nav i {
    border: 2px solid #212121;
    margin-right: 16px;
    padding: 0 4px 0 4px;
    border-radius: 2px;
  }
  .mobile_nav_links {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 0;
    overflow: hidden;
    transition: 0.2s ease;
  }
  .mobile_nav_links_open {
    height: 196px;
  }
  .mobile_nav_link {
    width: 100vw;
    height: 48px;
    display: flex;
    align-items: center;
    background-color: black;
  }
  .mobile_nav_link h1 {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 16px;
  }

  /* CONTENT */
  .content_block p {
    max-width: 100vw;
    margin-left: 16px;
    margin-right: 16px;
  }
  .content_images {
    flex-direction: column;
  }
  .content_image {
    width: 100vw;
  }
  .content_image_text {
    width: 100vw;
  }
  .content_image_text hr {
    width: 100vw;
  }
  .content_collection {
    flex-direction: column;
  }
  .content_collection .content_collection_block {
    width: 100vw;
  }
  .content_collection_image {
    width: 100vw;
  }
  .content_collection_block a {
    margin-left: 16px;
  }
  .contacts_content {
    width: 100vw;
  }
  .contact_content {
    flex-direction: column;
  }

  /* TOP */
  .top_content {
    width: 100vw;
  }
  .top_content h1 {
    margin-left: 8px;
    margin-right: 8px;
    max-width: 90vw;
  }

  /* FOOTER */
  footer hr {
    width: 100vw;
  }
  .footer_content {
    width: 100vw;
  }
  #footer_logo {
    margin: 0;
  }
  .social_media {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
